<div class="allIdeas">
  <h1>All Ideas</h1>
  <div ng-show="loadingIdeas == true" class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-8">
        <input ng-model="keyword" class="form-control " placeholder="search id, description, tags..." type="search"/>
      </div>
      <button type="button" class="btn btn-primary col-md-4s" ng-click="searchIdeas()">Search</button>
    </div>
		<table st-table="pagedResults" st-safe-src="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="description">Description</th>
				<th>Image</th>
        <th st-sort="fromUserId">Tags</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="result in pagedResults">
				<td>{{result.description}}</td>
				<td><a href="" ng-click="displayImage(result.imageAssets[0].url)"><img ng-src="{{result.imageAssets[0].url}}" /></a></td>
				<td>{{result.tags}}</td>
				<td>
				<button type="button" ng-click="open(result)" class="btn btn-default">Update Tages
				</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
  <div class="page">
    <uib-pagination total-items="results.length" ng-model="currentPage"
    max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></uib-pagination>
  </div>

  <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <h3 class="modal-title">Please select tags:</h3>
      </div>
      <div class="modal-body">
        <ul>
          <li class="checkbox" ng-repeat="ideaTag in ideaTags">
            <label><input type="checkbox" ng-model="ideaTag.selected" />{{ideaTag.name}}</label>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
  </script>

  <script type="text/ng-template" id="imageModalPage.html">
      <div id="largeImage" class="modal-body">
        <img ng-src="{{imageURL}}" />
      </div>
  </script>

</div>
